@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    font-family: 'Bebas Neue', sans-serif;
    background-image: url(../assets/image\ 7.png);
    margin: 0px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    font-size: 200%;
}


.content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 5%; 
}

ul, ol {
    list-style: none;
    padding: 0; 
}

.nav {
    display: flex;
}

.div-logo {
    margin-right: 10px; 
}

.logo-nav {
    height: auto; 
    height: 70px;
}




.container header {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}

.container header .shopping {
    position: relative;
    text-align: right;
}

.shopping span {
    background-color: #b3db6b;
    border-radius:45%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 35px;
    right: 3%;
    padding: 5px;
}

.list {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: white;
    border-left: 1px solid green;
    height: 100vh;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    font-size: 30px;
}

.active .card {
    left: calc(100% - 500px);
}

.active .container {
    transform: translateX(-200px);

}

.card h1 {
    color: green;
    font-weight: 300;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card .checkOut div,
.pagar
 {
    text-decoration: none;
    background-color: #b3db6b;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 45px;
}

.card .checkOut .div:nth-child(2) {
    background-color: black;
    color: #fff;
}

.list .item {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 50px 50px gray;
    letter-spacing: 1px;
    transition: all 0.25s ease;
    border-radius: 8px;
    cursor: pointer;
    max-width: 300px;

}

.list .item img {
    width: 90%;
    height: 250px;
}

.list .item .title {
    font-weight: 600;
    font-size: 30px;
}

.list .item .price {
    margin: 10px;
    font-size: 20px;
}

.list .item button {
    background-color: white;
    color: #91d316;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    border: 3px solid #B3DB6B;
    border-radius: 8px;
    cursor: pointer;
}
.list .item button:hover{
    background-color: #91d316;
    color: white;
}

.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
    margin-top: 30px;
}

.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard li img {
    width: 90%;
}

.listCard .count {
    margin: 0px 10px;
    columns: black;
}

.cardTitle,
.cardPrice {
    color: black;
}

.cardButton {
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav li a {
    color: black;
    text-decoration: none;
    padding: 12px 15px;
    display: block;
    background-color: white;
}

.nav li a:hover {
    color: #B3DB6B;
    border-bottom: 4px #B3DB6B solid;
    background-color: white;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}
.cart{
    height: 60px;
    padding-right: 25%;
    margin-top: 50%;
}

.listCard li div span{
    color: black;
    margin: 10px;
}

.listCard{
    max-height: 800px;
    overflow-y: auto;
}

.carrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carrito img{
    margin: 25px;
    height: 35px;
}

.listado {
    background-color: white;
    width: 48%;
    padding: 0 3%;
    border: 6px green solid;
    max-height: 800px;
    overflow-y: auto;
    font-size: 30px;

}
.listado img{
    height: 80px;
}

.listado div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabla {
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 5%;
}
.form {
    display: flex;
    flex-direction: column;
    width: 45%;
    font-size: 100%;
    padding: 0 5%;
}
input{
    height: 30px;
}
.realizar{
    margin-top: 5%;
    background-color: white;
    color: #91d316;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    border: 3px solid #B3DB6B;
    border-radius: 8px;
    cursor: pointer;
}

.realizar a {
    text-decoration: none;
    color: #91d316;;
}
.logo-f{
    margin-top: 3%;
    height: 100px;
    font-size: 50px;
}
footer img{
    height: 60px;
}
.div-f{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3%;
    align-content: flex-start;
    justify-content: space-around;
    height: 22rem;
    background-color: white;
}
.div-f2{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

@media (max-width: 1024px) {
    .list .item{
        max-width: 280px;
    }
    .listCard{
        max-height: 1000px;

    }
}
@media (max-width: 800px) {
    .list .item{
        max-width: 250px;
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .list .item{
        max-width: 200px;
        padding: 10px;
    }
    .logo-nav{
        height: 45px;
    }
    .cart{
        height: 45px;
    }
    .shopping span{
        font-size: 27px;
        padding: 1px;
    }
    .nav{
        font-size: 60%;
    }
    .card{
        width: 430px;
    }
    .active .card{
        left: calc(100% - 430px);
    }
    
        .listado img {
            height: 51px;
        }
    .listado{
        font-size: 15px;
    }
    .realizar{
        width: 85%;
    }
}
@media (max-width: 500px) {
   
    .div-f {
        display: flex;
        flex-direction: column;
        padding-top: 3%;
        justify-content: space-around;
        height: 40rem;
        background-color: white;
        align-items: flex-end;
    }
    .list .item{
        max-width: 250px;
        padding: 10px;
    }
}
@media (max-width: 400px){
    .list .item{
        max-width: 250px;
        padding: 10px;
    }
    .nav{
        font-size: 50%;
    }
    .logo-nav{
        height: 30px;
    }
    .cart{
        height: 35px;
    }.list .item img {
        width: 81%;
        height: 100px;
    }
    .card{
        width: 350px;
    }
    .active .card{
        left: calc(100% - 350px);
    }
    .div-f {
        display: flex;
        flex-direction: column;
        padding-top: 3%;
        justify-content: space-around;
        height: 40rem;
        background-color: white;
        align-items: flex-end;
        align-content: center;
    }
    .logo-f{
        height: 60px;
    }
}

#product-details{
    display: flex;
    margin: 3% 3%;
    background-color: #ffffffc7;
}
#product-image{
    width: 50%;
    max-width: 50%;
}
#product-details div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2rem;
    padding: 5%;
}

#go-back-button{
    height: 50%;
    border: none;
    background: none;
    margin: 1%;
}
#go-back-button img{
    height: 70px;
    max-width: 70px;
}
