<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="shortcut icon" href="./assets/logo-palta.png">
    <link rel="stylesheet" href="blog.css">
</head>
<body>
    <header>
        
        <div class="div-logo"> <img class="logo-nav" src="./assets/logo.png" alt=""></div>
       
            <ul class="nav">
                <li class="link link--1"><a class="text" href="#">HOME</a></li>
                <li><a>PRODUCTOS ▼</a>
                <ul>
                    <li class="item"><a href="#">FRUTAS</a></li>
                    <li class="item"><a href="#">VERDURA</a></li>
                    <li class="item"> <a href="#">ENSALADAS</a></li>
                </ul>
                </li>
                <li><a class="text" href="blog.html">BLOG</a></li>
                
            </ul>
        <div class="div-logo"><a href="#"><img class="cart" src="assets/shopping-bag-anadir 1.png" alt=""></a></div>
    </header>
    <div class="div-1">
        <div class="cont-1">
            <div class="div-text">
                <p>SUSCRIBITE</p>
                <P class="p-a">A</P>
                <P>NUESTRO</P>
                <P>NEWLETTER</P>
            </div>
            <img class="vector" src="./assets/blog/Frame 8.png" alt="">

        </div>
    </div>
    <section class="section-1">


    </section>






    
</body>
</html>