<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Green</title>
    <link rel="shortcut icon" href="../assets/logo-palta.png">
    <link rel="stylesheet" href="frutas.css">
    
</head>
<body>
    <header>
        <div class="div-logo">
            <img class="logo-nav" src="../assets/logo.png" alt="">
        </div>

        <ul class="nav">
            <li class="link link--1"><a class="text" href="../index.html"">HOME</a></li>
            <li><a>PRODUCTOS ▼</a>
                <ul>
                    <li onclick="window.location.href = 'frutas.html'"  class="despleg" data-categoria="frutas"><a href="frutas.html">Frutas</a></li>
                    <li onclick="window.location.href = 'verduras.html'"  class="despleg" data-categoria="verduras"><a href="verduras.html">Verduras</a></li>
                    <li onclick="window.location.href = 'ensaladas.html'"  class="despleg" data-categoria="ensaladas"><a href="ensaladas.html">Ensaladas</a></li>
                </ul>
            </li>
            <li><a class="text" href="blog.html">BLOG</a></li>
        </ul>
        <div class="container">
            <div class="shopping">
                <img class="cart" src="../assets/shopping-bag-anadir 1.png" alt="">
                <span class="quantity">0</span>
            </div>
        </div>
    </header>
    <section class="tabla">
        <form  class="form">
            
            <h2>Información de Contacto</h2>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
    
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required>
    
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono">
    
            
            <h2>Dirección de Envío</h2>
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" required>
    
            <label for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad" name="ciudad" required>
    
            <label for="codigo-postal">Código Postal:</label>
            <input type="text" id="codigo-postal" name="codigo_postal" required>
    
           
            <h2>Información de Pago</h2>
            <label for="tarjeta">Número de Tarjeta de Crédito:</label>
            <input type="text" id="tarjeta" name="tarjeta" required>
    
            <label for="fecha-expiracion">Fecha de Expiración:</label>
            <input type="text" id="fecha-expiracion" name="fecha_expiracion" placeholder="MM/AA" required>
    
            <label for="cvv">CVV:</label>
            <input type="text" id="cvv" name="cvv" required>
    
            
            <a class="realizar"  href="confirm.html">Realizar Compra</a>
        </form>

        <section id="listado" class="listado">
            <div class="totallist">$0</div>
    
        </section>
    </section>
    <div class="content">
        <div class="list"></div>
    </div>
    <div class="card">
        <div class="carrito">
            <h1>Tu carrito</h1>
            <img class="closeShopping" src="../assets/x.png" alt="">
            

        </div>
        <ul class="listCard"></ul>
        <div class="checkOut">
            <div class="total">$0</div>
            <a class="pagar" href="checkout.html">PAGAR</a>
        </div>
    </div>
    </div>
    <script src="frutas.js"></script>
    
</body>
<footer>
    <div class="div-f">
        <img class="logo-f"  src="../assets/logo.png" alt="">
        <div class="div-f2">
            <h2>Contactános:</h2>
            <img src="../assets/fter/correo.png" alt=""><a href="mailto:contacto@tudominio.com">Lovegreen@gmail.com</a>
            <img src="../assets/fter/wsp.png" alt=""><a href="https://wa.me/231444444">Contacto por WhatsApp</a>
            <p><img src="../assets/fter/cel.png" alt=""> Teléfono: +1234567890</p>

        </div>
        <div>
            <h2>Encontrános en:</h2>
            <img src="../assets/fter/instagram (2).png" alt="">
            <img src="../assets/fter/facebook.png" alt="">
        </div>
    </div>
</footer>
</html>