<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Green</title>
    <link rel="shortcut icon" href="../assets/logo-palta.png">
    <link rel="stylesheet" href="frutas.css">
    
</head>
<body>
    <header>
        <div class="div-logo">
            <img class="logo-nav" src="../assets/logo.png" alt="">
        </div>

        <ul class="nav">
            <li class="link link--1"><a class="text" href="../index.html">HOME</a></li>
            <li><a>PRODUCTOS ▼</a>
                <ul>
                    <li class="despleg" data-categoria="frutas"><a href="frutas.html">Frutas</a></li>
                    <li class="despleg" data-categoria="verduras"><a href="verduras.html">Verduras</a></li>
                    <li class="despleg" data-categoria="ensaladas"><a href="ensaladas.html">Ensaladas</a></li>
                </ul>
            </li>
            <li><a class="text" href="blog.html">BLOG</a></li>
        </ul>
        <div class="container">
            <div class="shopping">
                <img class="cart" src="../assets/shopping-bag-anadir 1.png" alt="">
                <span class="quantity">0</span>
            </div>
        </div>
    </header>

    <section style="margin: 20% 0 0 40%;">
        <img style="margin-left: 10%;" src="../assets/cheque.png" alt="">
        <h1>TU PEDIDO FUE CONFIRMADO CON EXITO</h1>
    </section>